

.navbox {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width:85%; 
    height: 50px;
    background-color: rgb(58, 138, 138);
    position: relative;
    clear: both;
    
    list-style:none;
    outline: none;
    text-align: center;
    text-decoration: none;

}

#nav1 li {
    display: inline-block;
    list-style: none;
    outline: none;
    text-decoration: none;
}

#nav1 a{
    float: center;
    list-style: none;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 2px;
    padding-bottom: 5px;
    outline: none;
    text-decoration: none;
}