
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20,20,20);
  color: rgb(255,255,255);
  font-family: Arial, Helvetica, sans-serif;
}

header a{
  text-decoration: none;
}
header {
  padding: 0 20px;
  background-color: rgb(20,20,20);
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
#brand a {
  color: rgb(255,255,255);
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
ul a {
  color: rgb(255,255,255);
  font-size: 1rem;
  font-weight: 650;
}
ul li {
  padding: 15px 30px;
  margin-left: 10vw;
}
ul li:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
  background-color: rgba(37, 190, 190, 1);
  box-shadow: 0px 3px 0px rgb(255,255,255);
}


.drop-menu-content {
  display: none;
  position: absolute;
  height: fit-content;
  background-color: rgba(27, 141, 141, 1);
  padding: 10px;
  left: 0px;
  top: 3rem;
}
.drop-menu-btn:hover .drop-menu-content {
  display: block;
}
.drop-menu-btn:hover .drop-menu-content li {
  margin-left: 0vw;
}
.drop-menu-content li:hover {
  transform: scale(1);
  background-color: rgb(20,20,20);
  color: rgb(255,255,255);
}
.drop-menu-content a {
  font-size: 0.8rem;
  font-weight: 400;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}
#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}


.mobile-menu {
  display: none;
  position: absolute;
  top: 2.7rem;
  left: 0;
  height: calc(60vh - 5rem);
  width: 100%;
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  background-color: rgb(20,20,20);
}
.mobile-menu li{
  margin-top: 10px;
  padding: 30px 25vw;
  background-color: rgb(60,60,60);
  min-width: 105vw;
  text-align: center;
}
.mobile-menu a {
  font-size: 20px;
  font-weight: 100;
}

@media only screen and (max-width:768px) {
  
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

}
