

.navbox {
    display: block; 
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: -10px;
    width:85%; 
    text-align:center;
    height: 50px;
    background-color: rgb(58, 138, 138);
    position: relative;
    clear: both;
    
    list-style:none;
    outline: none;
    text-align: center;

}

#nav1 li {
    display: inline-block;
}

#nav1 a{
    float: left;
    padding-left: 95px;
    padding-right: 95px;
    padding-top: 2px;
    padding-bottom: 5px;
}