    
    .dflt_txt {color:white;}
    .dflt_txt {font-family:Arial, Helvetica, sans-serif;}
    .dflt_header {background-color: black;}
    .dflt_body {background-color:darkslategray;}
    .dflt_footer {background-color: black;}
    
    
    
    
    #foot_txt {color:white;}
    #foot_txt {font-family:Arial, Helvetica, sans-serif;}