    
    .dflt_txt {
        color:#ffffff;
        font-family:Arial, Helvetica, sans-serif;
    }

    .dflt_header {
        background-color: black;
        color: #ffffff;
        padding: 10px 30px;
        font-family:Arial, Helvetica, sans-serif;
    }

    .dflt_body {
        background-color:darkslategray;
        color: #ffffff;
        font-family:Arial, Helvetica, sans-serif;
    }

    .dflt_footer {
        background-color: black;
        color:#ffffff;
        font-family:Arial, Helvetica, sans-serif;
    }
    
    .button1 {
        background-color: rgb(46, 112, 112);
        border: none;
        color:white;
        padding: 10px 24px;
        text-align: center;
        font-size: 14px;
        font-family:Arial, Helvetica, sans-serif;
        margin: 4px 2px;
        transition-duration: 0.3s;
        cursor: pointer;        
        }
    .button1:hover {
        background-color: rgb(80, 199, 199);
        border: none;
        color:white;
        box-shadow: 5px 5px 2px black;
        padding: 10px 24px;
        text-align: center;
        font-size: 14px;
        font-family:Arial, Helvetica, sans-serif;   
        margin: 4px 2px;
        cursor: pointer;      
        }
.homelinkbutton {
    background-color:black;
    color:white;
    border: none;
    padding: 2px 2px;
    text-align: center;
}

    #foot_txt {
        color:white;
        font-family:Arial, Helvetica, sans-serif;
    }

    #foot_txt2 {
        color:grey;
        font-family:Arial, Helvetica, sans-serif;
    }